header {
    display: flex;

    nav {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        .nav {
            padding: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;

            li {
                list-style: none;
                a {
                    padding: 10px;
                    border: 1px solid #000000;
                }
            }
        }
    }
}